.navbar-block {
  padding-top: .425rem;
  padding-bottom: .425rem;
}

.navbar-toggleable {
  &-xs {
    @include media-breakpoint-up(sm) {
      height: auto !important;
    }
  }

  &-sm {
    @include media-breakpoint-up(md) {
      height: auto !important;
    }
  }

  &-md {
    @include media-breakpoint-up(lg) {
      height: auto !important;
    }
  }
}
