[submodule "plugins/bootstrap-hover-tabs"]
	path = plugins/bootstrap-hover-tabs
	url = https://github.com/tonystar/bootstrap-hover-tabs.git
[submodule "plugins/bootstrap-yamm"]
	path = plugins/bootstrap-yamm
	url = https://github.com/geedmo/yamm3.git
[submodule "plugins/bootstrap-vertical-tabs"]
	path = plugins/bootstrap-vertical-tabs
	url = https://github.com/dbtek/bootstrap-vertical-tabs.git
[submodule "plugins/bootstrap-hover-dropdown"]
	path = plugins/bootstrap-hover-dropdown
	url = https://github.com/CWSpear/bootstrap-hover-dropdown.git
[submodule "plugins/bootstrap-inverse"]
	path = plugins/bootstrap-inverse
	url = https://github.com/tonystar/bootstrap-inverse.git
