<header class="navbar navbar-light navbar-fixed-top p-x-0">
  <div class="container">
    <a class="navbar-brand" href="#">Bootstrap Kit</a>
    <div class="share-buttons pull-xs-right">
      <a class="github-button" href="https://github.com/highweb/bootstrap-kit" data-style="mega" data-count-href="/highweb/bootstrap-kit/stargazers" data-count-api="/repos/highweb/bootstrap-kit#stargazers_count" data-count-aria-label="# stargazers on GitHub" aria-label="Star highweb/bootstrap-kit on GitHub">Star</a>
      <a class="twitter-tweet-button btn btn-sm btn-primary" href="https://twitter.com/highwebtech/status/787591818305212416" target="_blank"><i class="fa fa-lg fa-twitter"></i><span class="hidden-xs-down"> Retweet</span></a>
    </div>
  </div>
</header>
