<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>{{ page.title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
  <meta http-equiv="x-ua-compatible" content="ie=edge"/>
  <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="node_modules/font-awesome/css/font-awesome.min.css"/>
  {% include head-bottom.html %}
</head>
<body>
  {% include body-top.html %}
  {{ content }}
  {% include body-bottom.html %}
</body>
</html>
